<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class='nav-bar'></div>
        <div id=app>
            <div class="product">
                <div class='product-image'>
                    <!-- vue data binding -->
                    <img v-bind:src="image" v-bind:alt="altText"/>
                </div>
                <div class='product-info'>
                        <span v-show="onSale">On Sale</span>
                        <h1>{{product}}</h1>
                        <h2>{{description}}</h2>
                        <!-- <p v-if='inStock'>In Stock</p>
                        <p v-else='inStock'>Out of Stock</p> -->
                        <p v-if="inventory > 10">In Stock</p>
                        <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                        <p v-else="inventory">Out of Stock</p>
                        <a :href="link">More products like this</a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="main.js" async defer></script>
    </body>
</html>